<div style="padding:20px; width: 300px; margin: auto">
    <h1 mat-dialog-title style="padding-top:10px">{{getDialogTitle()}}</h1>
    <form mat-dialog-content [formGroup]="roomForm">
        <mat-form-field style="margin-top:10px;">
            <mat-label>Room Code</mat-label>
            <input matInput class="form-control" formControlName="code">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top:10px;">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top:10px;">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top:10px;">
            <mat-label>Maximum Capacity</mat-label>
            <input matInput type="number" min="1" formControlName="max_capacity">
            <mat-error>Please enter a positive number.</mat-error>
        </mat-form-field>
        <br>
    </form>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true">Cancel</button>
        <button mat-button *ngIf="hasData" (click)="onDelete()">Delete</button>
        <button mat-raised-button [disabled]="!roomForm.valid" type="submit" color="primary" (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>
</div>