<style>
  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
</style>


<div class="sticky">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
      <span style="margin-left: 15px;">EduRekt</span>
    </mat-toolbar-row>
    <mat-toolbar-row style="height: 80%;">
      <a mat-button routerLink="student" routerLinkActive="active">Students</a>
      <a mat-button routerLink="module" routerLinkActive="active">Modules</a>
      <a mat-button routerLink="room" routerLinkActive="active">Rooms</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>