<div style="padding:20px; width: 300px; margin: auto">
  <h1 mat-dialog-title style="padding-top:10px">{{getDialogTitle()}}</h1>
  <form mat-dialog-content [formGroup]="studentForm">
      <mat-form-field style="margin-top:10px;">
          <mat-label>Student Matriculation Code</mat-label>
          <input matInput class="form-control" formControlName="matric">
          <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field style="margin-top:10px;">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
          <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field style="margin-top:10px;">
          <mat-label>Year of Study</mat-label>
          <input matInput formControlName="year">
          <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field style="margin-top:10px;">
          <mat-label>Course</mat-label>
          <input matInput formControlName="course">
          <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <br>
  </form>
  <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true">Cancel</button>
      <button mat-button *ngIf="hasData" (click)="onDelete()">Delete</button>
      <button mat-raised-button [disabled]="!studentForm.valid" type="submit" color="primary" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</div>